<%layout("/layouts/boilerplate.ejs")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Create New Listing</h2>
      <br><br>
      <form action="/listings" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label"></label>
          <input
            name="listing[title]"
            type="text"
            placeholder="Enter a catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Look's good</div>
          <div class="invalid-feedback">Please enter a title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label"></label>
          <textarea
            name="listing[description]"
            placeholder="Enter your description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label"></label>
          <input
            name="listing[image]"
            type="text"
            placeholder="Enter image URL/Link"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label"></label>
            <input
              name="listing[price]"
              type="number"
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label"></label>
            <input
              name="listing[country]"
              type="text"
              placeholder="India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter valid country</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label"></label>
          <input
            name="listing[location]"
            type="text"
            placeholder="Jaipur, Rajasthan"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid location</div>

        </div>
        <br /><br />

        <button class="btn btn-dark add-btn" type="submit">Create</button>
        <br><br>
      </form>
    </div>
  </div>
</body>
